@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred with you user permissions while processing your request. please check you have sufficient permissions.</h2>
