
@{
    ViewData["Title"] = "BlackJackView";
}

<h1>BlackJackTableView</h1>

<div class="container">
    <div class="card">
        <div class="card-header">test</div>
        <div class="card-body">checks</div>
    </div>

    <button class="btn-primary text-center">Draw hand</button>

</div>


<script>
    
</script>
